{% extends 'neon/base.html.twig' %}

    {% block body %}

        <div class="col-sm-12">

            <h3>
               <span class="label label-warning">Service Desk</span>
                Guiones Plataforma
            </h3>
            <hr />
            <div class="profile-env">
                <section class="profile-info-tabs">
                    <div class="row">
                        <div class="col-sm-offset-2 col-sm-10">

                            {% set route = app.request.attributes.get('_route') %}
                            <ul class="nav nav-tabs">
                                <li role="presentation" {{ route ==  'plataformaDiagnosticador' ? 'class="active"' }}><a href="{{ url('plataformaDiagnosticador') }}">Diagnosticador</a></li>
                                <li role="presentation" {{ route ==  'plataformaGenerales' ? 'class="active"' }}><a href="{{ url('plataformaGenerales') }}">Generales</a></li>
                                <li role="presentation" {{ route ==  'plataformaInternet' ? 'class="active"' }}><a href="{{ url('plataformaInternet') }}">Internet</a></li>
                                <li role="presentation" {{ route ==  'plataformaTelevision' ? 'class="active"' }}><a href="{{ url('plataformaTelevision') }}">Televisión</a></li>
                                <li role="presentation" {{ route ==  'plataformaTelefonia' ? 'class="active"' }}><a href="{{ url('plataformaTelefonia') }}">Telefonía</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>

            <div class="panel-body">

                <form class="form-horizontal form-groups-bordered" id="" name="" action="" method="post" role="form" >

                    <div class="form-group">
                        <label for="field-ta" class="col-sm-3 control-label"><b>Síntoma</b></label>

                        <div class="col-sm-5">
                            <textarea class="form-control" id="" placeholder="Descripción de la falla - Campo obligatorio* " autofocus="autofocus"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-ta" class="col-sm-3 control-label"><b>Proceso de Soporte</b></label>

                        <div class="col-sm-5">
                            <textarea class="form-control" id="" placeholder="Campo obligatorio - Campo obligatorio* "></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="field-1" class="col-sm-3 control-label"><b>Marcación</b></label>

                        <div class="col-sm-5">
                            <input class="form-control" id="field-1" placeholder="Ej. CTA-CTA" type="text" style="width:100px;height:39px">
                            <b>Primera Marcación</b>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-primary btn-icon icon-left">
                                Crear Guión<i class="entypo-check"></i>
                            </button>
                            <button type="reset" class="btn btn-default btn-icon icon-left">
                                Borrar Formulario<i class="entypo-trash"></i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>

        </div>


    {% endblock %}

    {% block javascripts  %}
    {{ parent() }}


    {% endblock %}