{% extends 'neon/base.html.twig' %}

    {% block body %}
        {{ parent() }}

        <h3>
            <span class="label label-warning">Mejoramiento</span>
            Lista Formularios
            <span class="badge badge-info">{{ pagination.getTotalItemCount }}</span>
        </h3>
        <hr />

        <div class="panel-body">
            <table class="table table-bordered datatable" id="table-formularios">

                <thead>

                    <tr class="replace-inputs">
                        <th>{{ knp_pagination_sortable(pagination, 'Tipo', 'u.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombre Motivo', 'u.nombre') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Responsable', 'u.usuario') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Producto', 'u.servicio') }}</th>
                        <th><a class="text-success">Acción</a></th>
                    </tr>

                </thead>

                <tbody>

                {% for nombre in pagination  %}

                    <tr class="gradeU">
                        <td>{{ nombre.id }}</td>
                        <td>{{ nombre.nombre }}</td>
                        <td><p data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ nombre.usuario.usuario }}">{{ nombre.usuario.nombres }} {{ nombre.usuario.apellidos }}</p></td>
                        <td align="center">
                            {% if nombre.servicio.id in [1] %}
                                <a class="text-danger btn-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ nombre.servicio.producto }}">
                                    <i class="entypo-network"></i>
                                    <i class="entypo-monitor"></i>
                                    <i class="entypo-phone"></i>
                                </a>
                            {% elseif nombre.servicio.id in [2] %}
                                <a class="text-danger btn-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ nombre.servicio.producto }}">
                                    <i class="entypo-network"></i>
                                </a>
                            {% elseif nombre.servicio.id in [3,4] %}
                                <a class="text-danger btn-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ nombre.servicio.producto }}">
                                    <i class="entypo-phone"></i>
                                </a>
                            {% elseif nombre.servicio.id in [5, 6, 7, 8, 9, 10, 11, 12, 13, 14] %}
                                <a class="text-danger btn-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ nombre.servicio.producto }}">
                                    <i class="entypo-monitor"></i>
                                </a>
                            {% elseif nombre.servicio.id in [15] %}
                                <a class="text-danger btn-lg" data-toggle="tooltip" data-placement="top" title="" data-original-title="{{ nombre.servicio.producto }}">
                                    <i class="entypo-network"></i>
                                    <i class="entypo-monitor"></i>
                                </a>
                            {% elseif nombre.servicio.id  %}
                                {{ nombre.servicio.producto }}
                            {% endif  %}
                        </td>
                        <td class="center">
                            <a href="{{ path('tipoFormulario', { id: nombre.id }) }}" class="btn btn-info btn-xs"    data-toggle="tooltip" data-placement="top" title="" data-original-title="Información">
                                <i class="entypo-info"></i>
                            </a>
                            <a href="{{ path('xlsxFormulario', { id: nombre.id }) }}" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="" data-original-title="Descargar">
                                <i class="entypo-download"></i>
                            </a>
                        </td>
                    </tr>

                {% endfor %}


                </tbody>

            </table>
        </div>

        <!-- display Navigation KNP -->
        <div class="pagination-container">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endblock %}


{% block javascripts  %}
    {{ parent() }}


{% endblock %}