{% extends 'neon/base.html.twig' %}

    {% block body %}
        {{ parent() }}

        <h3>
            <span class="label label-warning">Mejoramiento</span>
            Test Formularios
            <span class="badge badge-success">{{ pagination.getTotalItemCount }}</span>
        </h3>
        <hr />

        <table class="table table-bordered datatable" id="table-formularios">

            <thead>
            <tr class="replace-inputs">
                <th>{{ knp_pagination_sortable(pagination, 'motivo', 'u.tipo') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Cuenta', 'u.cuenta') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Fecha', 'u.fecha') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Razon', 'u.razon') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Responsable', 'u.usuario') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Producto', 'u.producto') }}</th>
            </tr>
            </thead>
            <tbody>

            {% for formulario in pagination  %}

                <tr class="gradeU">
                    <td><b data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ formulario.tipo.nombre }}">{{ formulario.tipo.id }}</b></td>
                    <td>{{ formulario.cuenta }}</td>
                    <td class="center">{{ formulario.fecha|date('d-m-Y H:i') }}</td>
                    <td>{{ formulario.razon.nombre }}</td>
                    <td><b data-toggle="tooltip" data-placement="left" title="" data-original-title="{{ formulario.tipo.usuario.nombres }} {{ formulario.tipo.usuario.apellidos }}">{{ formulario.tipo.usuario.usuario }}</b></td>
                    <td class="center">
                        {% if formulario.tipo.servicio.id in [1] %}
                            <img src="{{ asset('public/images/icons/internet1.png' ) }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Internet"  />
                            <img src="{{ asset('public/images/icons/telefonia1.png') }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Telefonía" />
                            <img src="{{ asset('public/images/icons/television1.png') }}" alt="" width="22" data-toggle="tooltip" data-placement="top" title="" data-original-title="Televisión"  />
                        {% elseif formulario.tipo.servicio.id in [2] %}
                            <img src="{{ asset('public/images/icons/internet1.png' ) }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Internet"  />
                            <img alt="" width="22" />
                            <img alt="" width="22" />
                        {% elseif formulario.tipo.servicio.id in [3, 4] %}
                            <img alt="" width="22" />
                            <img src="{{ asset('public/images/icons/telefonia1.png') }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Telefonía" />
                            <img alt="" width="22" />
                        {% elseif formulario.tipo.servicio.id in [5, 6, 7, 8, 9, 10, 11, 12, 13, 14] %}
                            <img alt="" width="22" />
                            <img alt="" width="22" />
                            <img src="{{ asset('public/images/icons/television1.png' ) }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Televisión"  />
                        {% elseif formulario.tipo.servicio.id in [15] %}
                            <img src="{{ asset('public/images/icons/internet1.png' ) }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Internet"  />
                            <img alt="" width="22" />
                            <img src="{{ asset('public/images/icons/television1.png' ) }}" alt="" width="22"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Televisión"  />
                        {% endif  %}
                    </td>
                </tr>

            {% endfor %}

            </tbody>

        </table>
        <!-- display Navigation KNP -->
        <div class="pagination-container">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endblock %}


{% block javascripts  %}
    {{ parent() }}


{% endblock %}