                <!-- Inicio -->
            			<li class="active">
            				<a href="{{ url('inicio') }}">
            					<i class="entypo-home"></i>
            					<span class="title">Inicio</span>
            				</a>
            			</li>

                <!-- Administración -->
                        <li>
        					<a href="javascript:;">
        						<i class="entypo-database"></i>
        						<span class="title">Administración</span>
        					</a>
            					<ul>
            						<!-- Administración Usuarios -->
            						<li>
            							<a href="javascript:;">
            								<i class="entypo-user"></i>
            								<span class="title">Usuarios</span>
            							</a>
            							<ul>
            								<li>
            									<a href="{{ url('indexUsuarios') }}">
            										<i class="entypo-users"></i>
            										<span class="title">Lista Usuarios</span>
                                  				</a>
            								</li>
                                            <li>
            									<a href="{{ url('agregarUsuario') }}">
            										<i class="entypo-user-add"></i>
            										<span class="title">Nuevo Usuario</span>
            									</a>
            								</li>
            							</ul>
            						</li>
            					</ul>
    				    </li>

				<!-- ServiceCo -->
						<li>
							<a href="javascript:;">
								<i class="entypo-megaphone"></i>
								<span class="title">ServiceCo</span>
							</a>
							<ul>
								<li>
									<a href="{{ url('comunicarServiceco') }}">
										<i class="entypo-share"></i>
										<span class="title">Comunicar</span>
									</a>
								</li>
								<li>
									<a href="{{ url('indexServiceco') }}">
										<i class="entypo-publish"></i>
										<span class="title">Administrar</span>
									</a>
								</li>
							</ul>
						</li>

				<!-- reportes Formularios -->
						<li>
							<a href="javascript:;">
								<i class="entypo-sweden"></i>
								<span class="title">Formularios</span>
							</a>
							<ul>
								<li>
									<a href="{{ url('indexFormularios') }}">
										<i class="entypo-list"></i>
										<span class="title">Lista Formularios</span>
									</a>
								</li>
								<li>
									<a href="javascript:;">
										<i class="entypo-list-add"></i>
										<span class="title">Solcitar Formulario</span>
									</a>
								</li>
							</ul>
						</li>

				<!-- Chat -->
			            <li>
    						<a href="#" data-toggle="chat" data-collapse-sidebar="1">
    							<i class="entypo-chat"></i>
    							Chat
    							<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
    						</a>
    					</li>

                <!-- Cerrar Sesión -->
            			<li>
            				<a href="{{ url('logout') }}">
            					<i class="entypo-flight"></i>
            					<span class="title">Cerrar Sesión</span>
            				</a>
            			</li>
                        
            