{% set route = app.request.attributes.get('_route') %}
<!-- Inicio  -->
{{ include('neon/body/menu_lateral/inicio.html.twig') }}

<!-- Administración -->
{{ include('neon/body/menu_lateral/administracion.html.twig') }}

<!-- Guiones -->
{{ include('neon/body/menu_lateral/guiones.html.twig') }}

<!-- ServiceCo -->
{{ include('neon/body/menu_lateral/serviceco.html.twig') }}

<!-- reportes Formularios -->
{{ include('neon/body/menu_lateral/formularios.html.twig') }}

<!-- Chat -->
<li>
	<a href="#" data-toggle="chat" data-collapse-sidebar="1">
		<i class="entypo-chat"></i>
		Chat
		<span class="badge badge-success chat-notifications-badge is-hidden">0</span>
	</a>
</li>

<!-- Cerrar Sesión -->
<li>
	<a href="{{ url('logout') }}">
		<i class="entypo-flight"></i>
		<span class="title">Cerrar Sesión</span>
	</a>
</li>