<!DOCTYPE html>
<html lang="es-CO">

    <head>
    
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="author" content="alejo_fix"/>
        <meta name="author" content="jorge.montenegro.t@claro.com.co"/>
        <title>{% block title %}MCR | Formularios {% endblock %}</title>
    

        {% block stylesheets %}
            <!-- Bootstrap Core CSS -->
            <link rel="stylesheet" href="{{ asset('public/bootstrap/vendor/bootstrap/css/bootstrap.min.css') }}" />
            <!-- MetisMenu CSS -->
            <link rel="stylesheet" href="{{ asset('public/bootstrap/vendor/metisMenu/metisMenu.min.css') }}" />
            <!-- Custom CSS -->
            <link rel="stylesheet" href="{{ asset('public/bootstrap/dist/css/sb-admin-2.css') }}" />
            <!-- Morris Charts CSS -->
            <link rel="stylesheet" href="{{ asset('public/bootstrap/vendor/morrisjs/morris.css') }}" />
            <!-- Custom Fonts -->
            <link rel="stylesheet" href="{{ asset('public/bootstrap/vendor/font-awesome/css/font-awesome.min.css') }}" />
            <!-- sweetalert -->
            <link rel="stylesheet" href="{{ asset('public/sweetalert/dist/sweetalert.css') }}" />
        {% endblock %}

            <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon/favicon4-03-03.png') }}" />
    
    </head>

    <body>
    
            <!-- Contenido  -->
            {% block body %}
            {% endblock %}


    
        {% block javascripts %}

            <!-- jQuery -->
            <script src="{{ asset('public/bootstrap/vendor/jquery/jquery.min.js') }}"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{{ asset('public/bootstrap/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <!-- Metis Menu Plugin JavaScript -->
            <script src="{{ asset('public/bootstrap/vendor/metisMenu/metisMenu.min.js') }}"></script>
            <!-- Morris Charts JavaScript -->
            <script src="{{ asset('public/bootstrap/vendor/raphael/raphael.min.js') }}"></script>
            <script src="{{ asset('public/bootstrap/vendor/morrisjs/morris.min.js') }}"></script>
            <script src="{{ asset('public/bootstrap/data/morris-data.js') }}"></script>
            <!-- Custom Theme JavaScript -->
            <script src="{{ asset('public/bootstrap/dist/js/sb-admin-2.js') }}"></script>
        {% endblock %}
    
    </body>

</html>
