<!DOCTYPE html>
<html lang="es">
   
   <head>
 
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="ServiceMe" content="APP Mejoramiento" />
        <meta name="author" content="jorge.montenegro.t@claro.com.co" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
 
        <title>{% block title %}MCR | ServiceMe {% endblock %}</title>
        
        {% block stylesheets %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('public/images/favicon/favicon4-03-03.png') }}" />
        <link rel="stylesheet" href="{{ asset('public/neon/assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css') }}"/>
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/font-icons/entypo/css/entypo.css') }}"/>
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/bootstrap.css') }}"/>    
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/neon-core.css') }}"/>    
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/neon-theme.css') }}"/>
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/neon-forms.css') }}"/>
        <link rel="stylesheet" href="{{ asset('public/neon/assets/css/custom.css') }}"/>
                    
     	{% endblock %}
        
        <script src="{{ asset('public/neon/assets/js/jquery-1.11.0.min.js') }}"></script>
        <script>$.noConflict();</script>
   
    </head>
    
    <body class="page-body">
        
        <div class="page-container">
        
            <!-- header & menu  -->
             <div class="sidebar-menu">
            	<div class="sidebar-menu-inner">
            
            		<!-- Header -->
            		<header class="logo-env">
            		  
                      {{ include('neon/body/header.html.twig') }}	
            		
                    </header>
            
            		<!-- Menú Lateral -->
            		<ul id="main-menu" class="main-menu">
                    
                      {{ include('neon/body/menulateral.html.twig') }}  
            
            		</ul>
            
            	</div>
            </div>       
            <!-- header & menu fin  -->
            
            <!-- contenido -->
            <div class="main-content">
                
                <!-- menu superior -->
                <div class="row">
                
                    <!-- Menú Usuario --> 
                    <div class="col-md-6 col-sm-8 clearfix">
                    
                        {{ include('neon/body/menuusuario.html.twig') }}
                    
                    </div>		
                    <!--menu Cesión  -->
            		<div class="col-md-6 col-sm-4 clearfix hidden-xs">
                        
                        {{ include('neon/body/menucesion.html.twig') }}
        
            		</div>		
                
                </div>
                <!-- menu superior end -->
                
                <hr />
                <div class="row">
            <!-- Contenido Principal  -->		
                        {% block body %}{% endblock %}
            <!-- --> 
                </div>
                
                
                
                <!-- Footer --> 
                {{ include('neon/body/footer.html.twig') }}
                
            
            </div>
            
            <!-- Chat --> 
            {{ include('neon/body/chat.html.twig') }}
            
            
            <!-- contenido fin -->
        
        </div>
        
        {% block javascripts %}
        
        <!-- Imported styles on this page -->
        <script src="{{ asset('public/neon/assets/js/jvectormap/jquery-jvectormap-1.2.2.css') }}"></script>
        <script src="{{ asset('public/neon/assets/js/jvectormap/jquery-jvectormap-1.2.2.css') }}"></script>
        <!-- Bottom scripts (common) -->
        <script src="{{ asset('public/neon/assets/js/gsap/main-gsap.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/joinable.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/resizeable.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/neon-api.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
    	<!-- Imported scripts on this page -->
    	<script src="{{ asset('public/neon/assets/js/jvectormap/jquery-jvectormap-europe-merc-en.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/jquery.sparkline.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/rickshaw/vendor/d3.v3.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/rickshaw/rickshaw.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/raphael-min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/morris.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/toastr.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/neon-chat.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/bootstrap-timepicker.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/daterangepicker/moment.min.js') }}"></script>
        <script src="{{ asset('public/neon/assets/js/daterangepicker/daterangepicker.js') }}"></script>
    	<!-- JavaScripts initializations and stuff -->
    	<script src="{{ asset('public/neon/assets/js/neon-custom.js') }}"></script>
    	<!-- Demo Settings -->
        <script src="{{ asset('public/neon/assets/js/neon-demo.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('public/neon/assets/sweetalert/dist/sweetalert.css') }}"/>
    	<script src="{{ asset('public/neon/assets/sweetalert/dist/sweetalert.min.js') }}"></script>
      	<!-- -->
            <style>
                .errortext {
                    color: red;
                }
            </style>
        {% endblock %}
        
    </body>
    
</html>