{% extends 'neon/base.html.twig' %}


    {% block body %}
    {{ parent() }}

        <h3>
            <span class="label label-warning">Mejoramiento</span>
            Lista Formularios
            <span class="badge badge-success">{{ pagination.getTotalItemCount }}</span>
        </h3>
        <hr />

        <table class="table table-bordered datatable" id="table-formularios">

            <thead>
                    <tr class="replace-inputs">
                        <th>{{ knp_pagination_sortable(pagination, '# motivo', 'u.tipo') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, '# Cuenta', 'u.cuenta') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Mes', 'u.fecha') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Responsable', 'u.usuario') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Producto', 'u.producto') }}</th>
                    </tr>
            </thead>
            <tbody>

                {% for formularios in pagination  %}
                    <tr class="gradeU">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="center">
                        </td>
                    </tr>
                {% endfor %}

            </tbody>

        </table>
        <!-- display Navigation KNP -->
        <div class="pagination-container">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% endblock %}


{% block javascripts  %}
    {{ parent() }}


{% endblock %}