{% extends 'neon/base.html.twig' %}

    {% block body %}
        {{ parent() }}


        <h3>
            <span class="label label-warning">Service Desk</span>
            Comunicar Alto Impacto
        </h3>
        <hr />
        <div class="profile-env">
            <section class="profile-info-tabs">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="">Avisos</a></li>
                            <li role="presentation" class=""><a href="">Informativos</a></li>
                            <li role="presentation" class=""><a href="">Notas</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="panel-body">

            {{ form_start(form, { 'attr' : {'role' : 'form', 'class' : 'form-horizontal form-groups-bordered', 'novalidate':'novalidate' } }) }}

                {% for name, params in form if name != '_token' and name != 'submit' %}
                    <div class="form-group">
                        {{ form_label(params, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        <div class="col-sm-5">
                            {#{{ form_widget(params, { 'attr' : {'class' : 'form-control'}} ) }}#}
                            {{ form_widget(params) }}
                            <span class="text-danger">{{ form_errors(params) }}</span>
                        </div>
                    </div>
                {% endfor %}

                <br/>
                <div class="col-sm-offset-3 col-sm-5">
                    <button type="submit" class="btn btn-primary btn-icon icon-left">
                        Comunicar<i class="entypo-check"></i>
                    </button>
                    <button type="reset" class="btn btn-default btn-icon icon-left">
                        Borrar Formulario<i class="entypo-trash"></i>
                    </button>
                </div>

            {{ form_end(form) }}

        </div>

    {% endblock %}


{% block javascripts  %}
    {{ parent() }}
    {{ include('FixServicemeBundle:Serviceme:mensajes/logrado.html.twig') }}

    <script src="{{ asset('public/neon/assets/js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ asset('public/neon/assets/js/typeahead.min.js') }}"></script>

{% endblock %}