{% extends 'neon/base.html.twig' %}

    {% block body %}
    {{ parent() }}
    
    <div class="panel panel-primary" data-collapsed="0">
    
        <div class="panel-heading">
			<div class="panel-title">
        	   <h3>
                    <span class="label label-warning">Administrador</span> 
                    Nuevo Usuario {# {% trans %}New User{% endtrans %} #}
                </h3>
			</div>
		</div>
        
        <div class="panel-body">
         
         {{ form_start(form, { 'attr' : {'role' : 'form', 'class' : 'form-horizontal form-groups-bordered', 'novalidate':'novalidate' } }) }}
         	
         	{% for name, params in form if name != '_token' and name != 'submit' %}
         		<div class="form-group">
         			{{ form_label(params, null, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(params, { 'attr' : {'class' : 'form-control'}} ) }}
                        <span class="text-danger">{{ form_errors(params) }}</span>
                    </div>
                </div>
         	{% endfor %}

                <br/>
                <div class="col-sm-offset-3 col-sm-5">
                    {# {{ form_widget(form.guardar, {'label' : 'Create user', 'attr': {'class': 'btn btn-success'}}) }} #}
                    <button type="submit" class="btn btn-primary btn-icon icon-left">
                        Crear Usuario<i class="entypo-floppy"></i>
                    </button>
                    <button type="reset" class="btn btn-default btn-icon icon-left">
                        Borrar Formulario<i class="entypo-trash"></i>
                    </button>
                </div>

            
        {{ form_end(form) }}
        
        </div>
        
        

     </div>
     
    {% endblock %}


{% block javascripts  %}
    {{ parent() }}
    
    <script src="{{ asset('public/neon/assets/js/bootstrap-switch.min.js') }}"></script>

{% endblock %}   