{% extends 'neon/base.html.twig' %}

    {% block body %}
    {{ parent() }}
    {{ include('FixServicemeBundle:Usuarios:mensajes/exito.html.twig') }}
    
            <h3>
                <span class="label label-warning">Administrador</span> 
                Lista Usuarios
                <span class="badge badge-info">{{ pagination.getTotalItemCount - 1 }}</span>
		    </h3>
            <hr />

    		<table class="table table-bordered datatable" id="table-usuarios">
                                                
                <thead>
    				<tr class="replace-inputs">
    					<th>{{ knp_pagination_sortable(pagination, 'Usuario', 'u.usuario') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombres', 'u.nombres') }} </th>                               
                        <th>{{ knp_pagination_sortable(pagination, 'Apellidos', 'u.apellidos') }} </th> 
                        <th>{{ knp_pagination_sortable(pagination, 'Correo', 'u.correo') }} </th> 
    			        <th>{{ knp_pagination_sortable(pagination, 'Fecha Creado', 'u.fechaCreado') }} </th>  
    			        <th>{{ knp_pagination_sortable(pagination, 'Cargo/Rol', 'u.cargo') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Empresa', 'u.empresa.id') }} </th>
    			        <th>Acción</th>                        
                  	</tr>
    			</thead>
    			
                <tbody>
    				
                    {% for usuario in pagination  %}
                        {% if usuario.role != 'ROLE_ROOT'  %}
                        <tr class="gradeU">
        					<td>{{ usuario.usuario }}</td>
        					<td>{{ usuario.nombres }}</td>
        					<td>{{ usuario.apellidos }}</td>
        					<td>{{ usuario.correo }}</td>
        					<td class="center">{{ usuario.fechaCreado|date('d-m-Y H:i') }}</td>
                            <td class="center">{{ usuario.cargo }}
                                {% if usuario.role == 'ROLE_ADMIN' %}
                                    /Administrador
                                {% elseif usuario.role == 'ROLE_MCR' %}
                                    /Mejoramiento
                                {% elseif usuario.role == 'ROLE_SD' %}
                                    /Service Desk
                                {% elseif usuario.role == 'ROLE_EXP' %}
                                    /Experto
                                {% elseif usuario.role == 'ROLE_INV' %}
                                    /Invitado
                                {% endif  %}       
                            </td>
                           <td>{{ usuario.empresa.nombre }}</td>
                            <td>
                                {% if usuario.activo == '1' %}
                                    <a href="{{ path('verUsuario', { id: usuario.id }) }}" class="btn btn-info btn-sm btn-icon icon-left">
                                        <i class="entypo-info"></i>
                                        Perfil
                                    </a>
                                    <a href="{{ path('editarUsuario', { id: usuario.id }) }}" class="btn btn-default btn-sm btn-icon icon-left">
                                        <i class="entypo-pencil"></i>
                                        Editar
                                    </a>
                                    <a href="javascript:;" class="btn btn-danger btn-sm btn-icon icon-left">
                                        <i class="entypo-cancel"></i>
                                        Borrar
                                    </a>
                                {% elseif usuario.activo == '0' %}
                                    <a href="{{ path('editarUsuario', { id: usuario.id }) }}" class="btn btn-success btn-sm btn-icon icon-left">
                                        <i class="entypo-info"></i>
                                        Perfil
                                    </a>
                                {% endif  %}
                            </td>
        				</tr>
                        {% endif %}
                    {% endfor %}
                    
    			</tbody>

    		</table>
            
            <!-- display Navigation KNP --> 
            <div class="pagination-container">
				{{ knp_pagination_render(pagination) }}
            </div>

    {% endblock %}
    

{% block javascripts  %}
    {{ parent() }}



{% endblock %}