{% extends 'neon/base.html.twig' %}

    {% block body %}
    {{ parent() }}
    {{ include('FixServicemeBundle:Usuarios:mensajes/exito.html.twig') }}
    
            <h3>
                <span class="label label-warning">Administrador</span> 
                Lista Usuarios
                <span class="badge badge-success">{{ pagination.getTotalItemCount }}</span>
		    </h3>
            <hr />

    		<table class="table table-bordered datatable" id="table-usuarios">
                                                
                <thead>
    				<tr class="replace-inputs">
    					<th>{{ knp_pagination_sortable(pagination, 'Usuario', 'u.usuario') }} </th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nombres', 'u.nombres') }} </th>                               
                        <th>{{ knp_pagination_sortable(pagination, 'Apellidos', 'u.apellidos') }} </th> 
                        <th>{{ knp_pagination_sortable(pagination, 'Correo', 'u.correo') }} </th> 
    			        <th>{{ knp_pagination_sortable(pagination, 'Fecha Creado', 'u.fechaCreado') }} </th>  
    			        <th>{{ knp_pagination_sortable(pagination, 'Cargo/Rol', 'u.cargo') }} </th>
                        <th><b>Empresa</b> </th> 
    			        <th>Acción</th>                        
                  	</tr>
    			</thead>
    			
                <tbody>
    				
                    {% for usuario in pagination  %}
                        <tr class="gradeU">
        					<td>{{ usuario.usuario }}</td>
        					<td>{{ usuario.nombres }}</td>
        					<td>{{ usuario.apellidos }}</td>
        					<td>{{ usuario.correo }}</td>
        					<td class="center">{{ usuario.fechaCreado|date('d-m-Y H:i') }}</td>
                            <td class="center">{{ usuario.cargo }}
                                {% if usuario.role == 'ROOT' %}
                                    /Root
                                {% elseif usuario.role == 'ROLE_ADMIN' %}
                                    /Administrador
                                {% elseif usuario.role == 'ROLE_MCR' %}
                                    /MCR
                                {% elseif usuario.role == 'ROLE_INV' %}
                                    /Invitado    
                                {% endif  %}       
                            </td>
                           <td>{{ usuario.empresa.getNombre }}</td> 
                            <td>
                                {% if usuario.activo == '1' %}
                                <a class="btn btn-primary" href="{{ path('verUsuario',   { id: usuario.id }) }}"><i class="entypo-info"></i></a>
                                <a class="btn btn-blue"    href="{{ path('editarUsuario', { id: usuario.id }) }}"><i class="entypo-pencil"></i></a>
                                <a class="btn btn-red" href="javascript:;"><i class="entypo-cancel"></i></a>
                                {% elseif usuario.activo == '0' %}
                                <a class="btn btn-primary" href="{{ path('verUsuario',   { id: usuario.id }) }}"><i class="entypo-info"></i></a>
                                {% endif  %}
                            </td>
        				</tr>
                    {% endfor %}
                    
    			</tbody>
                
    		</table>
            
            <!-- display Navigation KNP --> 
            <div class="pagination-container">
				{{ knp_pagination_render(pagination) }}
            </div>

    {% endblock %}
    

{% block javascripts  %}
    {{ parent() }}



{% endblock %}