{% extends 'neon/base_comunicacion.html.twig' %}

{% block body %}

    <style>
        b   {   color: white ;  font-size: 30px }
        i   {   color: white;   opacity: 0.5;   }
        d   {   color: white ;  font-size: 14px;    font: oblique 120% cursive; }
        x   {   font-size: 19px }
    </style>


    <!-- row avisos -->
    <div class="row">

        {% if pagination|length >= 1 %}

            {% for altoimpacto in pagination  %}


                {% if altoimpacto.referencia.id == 1 %}

                    <div class="col-sm-3 col-xs-6">
                        <div class="tile-stats tile-plum">
                            <div class="icon"><i class="entypo-traffic-cone"></i></div>
                                <b>{{ altoimpacto.sintoma|title }}</b>
                                <div class="num" data-start="0" data-end="{{ altoimpacto.aviso }}" data-postfix="" data-duration="300" data-delay="500">{{ altoimpacto.aviso }}</div>
                                <h3>{{ altoimpacto.afectacion|title }}</h3>
                            <div align="left" ><d>{{ altoimpacto.detalle.nombre|title }}</d></div>
                        </div>
                    </div>

                {% elseif altoimpacto.referencia.id == 2 %}

                    <div class="col-sm-3 col-xs-6">
                        <div class="tile-stats tile-blue">
                            <div class="icon"><i class="entypo-network"></i></div>
                            <b>{{ altoimpacto.sintoma|title }}</b>
                            <div class="num" data-start="0" data-end="{{ altoimpacto.aviso }}" data-postfix="" data-duration="300" data-delay="500">{{ altoimpacto.aviso }}</div>
                            <h3>{{ altoimpacto.afectacion|title }}</h3>
                            <div align="left" ><d>{{ altoimpacto.detalle.nombre|title }}</d></div>
                        </div>
                    </div>

                {% elseif altoimpacto.referencia.id == 3 %}

                    <div class="col-sm-3 col-xs-6">
                        <div class="tile-stats tile-red">
                            <div class="icon"><i class="entypo-phone"></i></div>
                            <b>{{ altoimpacto.sintoma|title }}</b>
                            <div class="num" data-start="0" data-end="{{ altoimpacto.aviso }}" data-postfix="" data-duration="300" data-delay="500">{{ altoimpacto.aviso }}</div>
                            <h3>{{ altoimpacto.afectacion|title }}</h3>
                            <div align="left" ><d>{{ altoimpacto.detalle.nombre|title }}</d></div>
                        </div>
                    </div>

                {% elseif altoimpacto.referencia.id == 4 %}

                    <div class="col-sm-3 col-xs-6">
                        <div class="tile-stats tile-aqua">
                            <div class="icon"><i class="entypo-monitor"></i></div>
                            <b>{{ altoimpacto.sintoma|title }}</b>
                            <div class="num" data-start="0" data-end="{{ altoimpacto.aviso }}" data-postfix="" data-duration="300" data-delay="500">{{ altoimpacto.aviso }}</div>
                            <h3>{{ altoimpacto.afectacion|title }}</h3>
                            <div align="left" ><d>{{ altoimpacto.detalle.nombre|title }}</d></div>
                        </div>
                    </div>

                {% elseif altoimpacto.referencia.id == 5 %}

                    <div class="col-sm-3 col-xs-6">
                        <div class="tile-stats tile-cyan">
                            <div class="icon"><i class="entypo-comment"></i></div>
                            <b>{{ altoimpacto.sintoma|title }}</b>
                            <div class="num" data-start="0" data-end="{{ altoimpacto.aviso }}" data-postfix="" data-duration="300" data-delay="500">{{ altoimpacto.aviso }}</div>
                            <h3>{{ altoimpacto.afectacion|title }}</h3>
                            <div align="left" ><d>{{ altoimpacto.detalle.nombre|title }}</d></div>
                        </div>
                    </div>


                {% endif %}


            {% endfor %}
            <br />

        {% else %}

            <div class="jumbotron">
                <h2>
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                    Sin Avisos de Alto Impacto !
                </h2>
                <h4>Actualmente no existen avisos de alto impacto, por favor consulte página de Gerencia.</h4>
            </div>

        {% endif %}


    </div>
    <!-- row avisos FIN -->

    <div class="row">

        <!-- DIV INFORMATIVOS -->
        {{ include('FixServicemeBundle:Comunicacion/informativos:informativos.html.twig') }}

        <!-- DIV NOTAS  -->
        {{ include('FixServicemeBundle:Comunicacion/notas:notas.html.twig') }}


    </div>




{% endblock %}


{% block javascripts  %}
    {{ parent() }}



{% endblock %}