{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('public/bootstrap/css/signin.css') }}"/>
{% endblock %}

{% block body %}
	{{ parent() }}

    <div class="container">
		<form action="{{ path('login_check') }}" method="post" class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>

            {% if error %}
            <div class="text-danger">
                <p>
                    <strong>
                        {{ error.messageKey }}
                    </strong>
                </p>
            </div>
            {% endif %}

		    <label for="usuario" class="sr-only">Usuario:</label>
		    <input type="text" id="usuario" class="form-control" name="_usuario" value="{{ last_usuario }}" placeholder="Usuario" required autofocus />

		    <label for="contrasena" class="sr-only">Contraseña:</label>
		    <input type="password" id="contrasena" class="form-control" name="_contrasena" placeholder="Contraseña" required />
		    
		    <input type="hidden" name="_target_path" value="indexUsuarios" />

		    <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
		</form>
    </div> <!-- /container -->
{% endblock %}